<!doctype html>
    <img src = "/static/logo.png" alt="MetroGnome", width=20%, height=20%>
    <form method=post enctype=multipart/form-data>
      <label for=file>Upload file (Accepts .wav, .mp3)</label><br>
      <input type=file id=file name="file"><br>
      <label for=freq>Click frequency (in db)</label><br>
      <input type=number id=freq name=freq><br>
      <label for=duration>Click duration (in seconds)</label><br>
      <input type=number id=duration name=duration step ="0.01" min=0 max=5><br>
      <label for=vol_song>Song volume</label><br>
      <input type=range id=vol_song name=vol_song><br>
      <label for=vol_click>Click volume</label><br>
      <input type=range id=vol_click name="vol_click"><br>
      <input type=submit value=Upload>
    </form>
    <br>
    <h3>Demos</h3>
    <a href="/uploads/dmv.wav">DMV - Primus</a><br>
    <a href="/uploads/another_one_bites_the_dust.wav">Another One Bites the Dust - Queen</a><br>
    <a href="/uploads/ANTEMASQUE_4AM.wav">4AM - ANTEMASQUE (detected beats on 2 and 4)</a>


    <script type="text/javascript">
    document.getElementById('freq').value = '880';
      document.getElementById('duration').value = '0.5';
    </script>